<div class="row header">
    <div class="col-md-3"></div>
    <div class="col-md-6 title">
        <h2>Add New Category</h2>
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="main-div">

            <div class="box">
                <input type="text" name="categoryName" #catName="ngModel" [(ngModel)]="categoryName"
                    placeholder="category name" required>

                <div class="alert alert-danger" *ngIf="catName.errors && catName.touched" role="alert">
                    Category Name is Required
                </div>
                <button type="button" class="button" (click)="onClick()" [disabled]="!categoryName">Add Category</button>
                <!-- <input type="submit"  name="" [disabled]="login.invalid" value="Login"> -->
            </div>

        </div>
    </div>
    <div class="col-md-3"></div>
</div>