.header {
  height: 60px;
}

.title {
  text-align: center;
}

.product-header {
  margin: auto;
  // width: 50%;
  border: 3px solid #541845;
  padding: 10px;
}

.product {
  margin-top: 5px;
}

.right-border {
  border-right: 3px solid#541845;
}

i {
  cursor: pointer;
  color: red;
}
