<div class="container">
        <div class="row" *ngFor="let product of products">
                <div class="column container" style="margin: 20px;">
                        <div class="tab" id="{{product.id}}" style="background-color:white;">
                                <div class="container image" (click)="selectedColumn(product.id);">
                                        <img src={{product.image}}>
                                </div>
                                <div class="container content">
                                        <button (click)="deselectColumn(product.id);"
                                                class="close">&times;</button>

                                        <h3 (click)="selectedColumn(product.id);">{{product.title}}
                                        </h3>
                                        <br />
                                        <h6>{{product.about}}</h6>
                                        <br />
                                        <h6><a href="{{product.sallerUrl}}">click here for more
                                                        infromation
                                                        &#187;</a></h6>
                                        <br />
                                        <h4>{{product.price | currency:'INR'}}</h4>
                                </div>
                        </div>
                </div>
        </div>
</div>